[<div class="box">

  <main class="main">
    <section>
      <ng-container  #poemsContainer     *ngFor="let item of poems">
        <div  (click)="getDetails(item)"      class="wiersze">
          <span class="top">
            <i class="fa-solid fa-quote-left"></i>
          </span>
          <h2 class="title">{{ item.title }}</h2>
          <p>{{ item.name | poems: 100 }}</p>
          <span class="bottom">
            <i class="fa-solid fa-quote-right"></i>
          </span>
        </div>
      </ng-container>
    </section>
    <footer></footer>
  </main>
</div>
<app-wiersze-details [tornActive]="parentActive"  [title]="title"   (eventToParent)="handleEventFromChild()" [name]="name" ></app-wiersze-details>
