<div    [class.active]="tornActive"        class="box">
<div class="flexcontainer">

<div class="poems-header">
  <span (click)="back()" class="times">
<i class="fa fa-times" aria-hidden="true"></i>
  </span>
  <h1 class="mainTitle">{{title}}</h1>
  <h2 class="subTitle">by Halina Kierpiec</h2>
  <div class="divider">
    <img src="assets/—Pngtree—various decorative text dividers_5828541.png" alt="">
  </div>
</div>
<div class="poems-main">
  <p   [innerHTML]="splitTextWithBr(name,220).join('<br>')"></p>
</div>

</div>


</div>
