@import "/src/app/abstracts/mixins";
.box {
  // position: relative;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 80svh !important;
  display: flex;
  justify-content: center;
  align-items: center;
  // padding: 7rem;

  border-radius: 0.3rem;
  letter-spacing: 0.1rem;
  // font-family: Georgia, sans-serif;
  font-family: "Lora", serif;
  color: black;
  z-index: 999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999 !important;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  // background-color: #a3c6e8;
  &.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
  @include respond(phone) {
    width: 100%;
    height: 100%;


    backdrop-filter: blur(10px); /* Adjust the blur amount as needed */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
    overflow: hidden;
  }
}
#flexcontainer {
  position: relative;

  // display: flex;
  overflow-y: scroll;
  padding: 3rem;
  // padding-top: 15rem;
  // background-color: #add8e6;
  @include respond(phone) {
    // background-color: #a3c6e81d;
    background-color: #a3c6e85b;
    padding: 2rem;
    // display: flex;
    // justify-content: center;
    // align-items: flex-start;
  }

  width: 750px;
  height: 100%;
  margin: 0px auto;
}
.poem {
  position: relative;
  width: 375px;

  margin: auto;
  /*padding: 10px 0;*/
  font-family: Baskerville;

  font-size: 17px;
  font-size: 2rem;
  text-align: left;


  &::before {
    content: '';
    position: absolute;
    width: calc(100% + 3%);
    height: calc(100% + 1.5%);
    border-radius: 0.5em;
    z-index: -1;
    background-image: linear-gradient(60deg, aquamarine, cornflowerblue, goldenrod, hotpink, salmon, lightgreen, sandybrown, violet);
    background-size: 300%;
    animation: animate_bg 30s infinite;
  }






  @include respond(phone) {
    position: relative;
    top:0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-color:#f8f8f8;

background: #F8F8F8;
background: linear-gradient(135deg, #F8F8F8, #79827B);

    width: 100%;
    border-radius: 0.5em;
    font-size: 17px;
    font-size: 2.2rem;
    text-align: left;
   padding: 7rem 1.7rem;








  }
}
.p {
  margin-left: 3rem;
  text-align: left;
  margin-bottom: 15px;
  line-height: 1.45em;
  font-size: 2rem;
  @include respond(phone) {
    font-size: 2.7rem;
  }
}

.poem h1,
.poem h2 {
  font-family: Baskerville;
  font-weight: normal;
  text-align: center;
}

.poem h1 {
  font-size: 34px;
  margin-bottom: 10px;
}

.poem h2 {
  font-size: 18px;
  font-style: italic;
  margin-bottom: 30px;

  color: rgb(0, 0, 0);
}

.poem h2 + p:first-letter {
  float: left;
  font-size: 40px;
  // margin: 12px 5px 0px 0px;
  margin: 0px 5px 0px 0px;
}

.poem p:first-line {
  font-variant: small-caps;
  letter-spacing: 1px;
}

.poem p:last-child {
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.times {
  position: absolute;
  top: 5%;
  right: 15%;
  cursor: pointer;
  font-size: 4rem;
  @include respond(phone) {
    top: 2%;
    right: 7%;
    font-size: 4rem;
  }
}

.title {
  position: absolute;
  top: 10%;
  text-transform: capitalize;
  font-size: 4rem;
}

.left {
  position: absolute;
  top: 10%;
  left: 5%;
  font-size: 6rem;
  color: #bfa100;
  color: white;
}

.right {
  position: absolute;
  bottom: 10%;
  right: 5%;
  font-size: 6rem;
  color: white;
}

.line {
  position: relative !important;
  font-size: 3rem !important;
  text-transform: capitalize;
  line-height: 40px;
  text-align: left;
  padding: 0 1rem;
  font-weight: bolder;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: -9%;
    transform: translate(-50%, -50%);
    width: 14%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.171);
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 109% !important;

    transform: translate(-50%, 50%);
    width: 14%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.171);
  }
}
@keyframes animate_bg {
	0%, 100% {
		background-position: 0%, 50%;
	}

	50% {
		background-position: 100%, 50%;
	}
}
